<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
            </script>
            <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
            </script>
            <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
            </script>
            
            <!-- CDN link used below is compatible with this example -->
            <link rel="stylesheet" href=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
                <script src=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
                </script>
                
                
                <title>AMI automation</title>
            </head>
            <body>
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">AMI</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ url_for('aws') }}">aws <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('azure') }}">Azure</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('gcp') }}">GCP</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="jumbotron">
                        <form action="/gcp" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="vmname">Virtual Machine Name</label>
                                <input  type="text" class="form-control" id="vmname" name="vmname" placeholder="Enter Virtual Machine Name">
                            </div>
                            
                            <div class="form-group">
                                <label for="os">Choose Operating System</label>
                                <select class="custom-select mr-sm-2" id="os" name="os">
                                    <option selected>Choose Operating System</option>
                                    <option value="1">Window</option>
                                    <option value="2">ubuntu-Linux</option>
                                    <option value="3">CentOS</option>
                                    <option value="4">Suse</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="os">Select Required AMI  </label>
                                <select class="selectpicker" data-live-search="true" id="ami" name="ami">
                                    
                                    <option SELECTED data-tokens='0'>Choose available ami</option>
                                    {% for x in opt %}
                                        <option data-tokens='{{ x }}'>{{x}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="file">Choose Google Cloud Creadiantial file</label>
                                <input type="file" class="form-control-file" id="file" name="file">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                
                
                <script>
                $(document).ready(function(){
                $("selectpicker").selectpicker();
                })
                </script>
            </body>
        </html>