
- name: Install MongoDB On Ubuntu/Debian
  become: yes
  apt:
    name: mongodb
    state: present
    update_cache: 'yes'
  when: MongoDB is defined

- name: install Notepad++
  command: sudo snap install notepad-plus-plus
  when: NotepadPlusPlus is defined

- name: install python3
  shell: |
    sudo apt --fix-broken install
    sudo apt-get install -y python3
  when: Python3 is defined

- name: install chrome
  shell: |
    wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    sudo apt install -y ./google-chrome-stable_current_amd64.deb  
  when: GoogleChrome is defined

- name: Install git
  command: sudo apt install -y git
  when: Git is defined
